{{#each this}}
<li class="todo__item js-task {{#if complete}}complete{{/if}}" data-id="{{id}}" data-position="">
    <div class="check-btn js-check_btn">
          <svg class="check-btn__icon" width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.7973 0.90889L3.44097 6.51377L1.70379 4.69597L0 6.47881L1.73719 8.29661L3.4521 10.0911L5.15589 8.30826L10.5122 2.70339L8.7973 0.90889Z" fill="#232323"/>
          </svg>
    </div>
    <input type="text" value="{{name}}" maxlength="41" class="todo__name js-task_name">
    <div class="todo__more">
          <button class="more-btn js-more_btn">
              <svg width="16" height="32" viewBox="0 0 16 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7 12.0833C7 12.3707 7.10536 12.6462 7.29289 12.8494C7.48043 13.0525 7.73478 13.1667 8 13.1667C8.26522 13.1667 8.51957 13.0525 8.70711 12.8494C8.89464 12.6462 9 12.3707 9 12.0833C9 11.796 8.89464 11.5205 8.70711 11.3173C8.51957 11.1141 8.26522 11 8 11C7.73478 11 7.48043 11.1141 7.29289 11.3173C7.10536 11.5205 7 11.796 7 12.0833ZM7 17.5C7 17.7873 7.10536 18.0629 7.29289 18.266C7.48043 18.4692 7.73478 18.5833 8 18.5833C8.26522 18.5833 8.51957 18.4692 8.70711 18.266C8.89464 18.0629 9 17.7873 9 17.5C9 17.2127 8.89464 16.9371 8.70711 16.734C8.51957 16.5308 8.26522 16.4167 8 16.4167C7.73478 16.4167 7.48043 16.5308 7.29289 16.734C7.10536 16.9371 7 17.2127 7 17.5V17.5ZM7 22.9167C7 23.204 7.10536 23.4795 7.29289 23.6827C7.48043 23.8859 7.73478 24 8 24C8.26522 24 8.51957 23.8859 8.70711 23.6827C8.89464 23.4795 9 23.204 9 22.9167C9 22.6293 8.89464 22.3538 8.70711 22.1506C8.51957 21.9475 8.26522 21.8333 8 21.8333C7.73478 21.8333 7.48043 21.9475 7.29289 22.1506C7.10536 22.3538 7 22.6293 7 22.9167V22.9167Z" fill="white"/>
              </svg>
          </button>
          <button class="edit-btn js-edit_btn">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 7.87341V10H2.12434L8 4.12553L5.87673 2L0 7.87341Z" fill="#232323"/>
                    <path d="M8.70139 3L7 1.29642L8.29691 0L10 1.70273L8.70139 3Z" fill="#232323"/>
              </svg>
          </button>
          <button class="delete-btn js-delete_btn">
              <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10 1.00714L8.99286 0L5 3.99286L1.00714 0L0 1.00714L3.99286 5L0 8.99286L1.00714 10L5 6.00714L8.99286 10L10 8.99286L6.00714 5L10 1.00714Z" fill="white"/>
              </svg>
          </button>
    </div>
</li>
{{else}}
<p class="todolist__empty-msg">Nothing to do, enjoy your day! &#128526;</p>
{{/each}}