*
  font-family: 'Cascadia'
  box-sizing: border-box
  margin: 0

  &:focus
    outline: none

body
  font-weight: 400
  background-color: $white

h1
  font-size: 70px
  color: $white
  margin: 0

h2
  font-size: 25px
  color: $white
  margin: 0

h4
  font-size: 14px
  font-weight: 400
  margin: 0

p, li
  font-size: 14px
  color: $black

ul
  list-style: none
  padding-left: 0

a
  color: unset
  text-decoration: none

.todolist__empty-msg
  text-align: center
  font-size: 13px
  padding-top: 16px

