<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="styles/main.css">
     <title>todolist — tibere debizet</title>
</head>
<body>
     <main class="wrapper">

         {{{body}}}

     </main>

     <footer class="footer">
          <p class="footer__author">Made with &hearts; by Tibère Debizet</p>
     </footer>

     <div class="alerts__container js-alerts_container"></div>

</body>
</html>
